#title {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.link_list_element {
    font-size: 35px;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.recipe_image {
    width: 300px;
    height: auto;
}

.description {
    color: blueviolet;
}

.ingredients {
    color:brown;
}

.steps {
    color: orangered;
}

.header {
    font-weight: bold;
    font-size: 40px;
}